[submodule "community/roles/dcos-bootstrap"]
	path = community/roles/dcos-bootstrap
	url = https://github.com/olatheander/ansible-dcos-bootstrap.git
[submodule "community/roles/dcos"]
	path = community/roles/dcos
	url = https://github.com/olatheander/ansible-dcos.git
[submodule "community/roles/dcos-controller"]
	path = community/roles/dcos-controller
	url = https://github.com/olatheander/ansible-dcos-controller.git
[submodule "community/roles/pip"]
	path = community/roles/pip
	url = https://github.com/bobbyrenwick/ansible-pip.git
[submodule "community/roles/docker"]
	path = community/roles/docker
	url = https://github.com/olatheander/ansible-docker.git
